<div class="uk-container{{container}}">

	<h2 style="text-align: center;">{{ page.title }}</h2>
	<center><img src="{{ page.image }}" width="35%" style="padding: 25px;margin-top:25px;"></center>
	<p>{{ page.description }}</p>
	<p><strong>Tags:</strong> {% for tag in page.tags %}{{ tag }}{% if forloop.last == true %}{% else %}, {% endif %}{% endfor %}</p>
	<br><br>
	<h3>Images</h3>
	<div style="width: 100%; border: 0px solid #000;">
	<center>
	{% for image in page.images %}
		{% assign slug = page.title | replace: " ", "-" | downcase %}
			<a href="../../images/collections/{{ slug }}/{{ image.image }}" target="_blank"><img src="../../images/collections/{{ slug }}/{{ image.image }}" title="{{ image.name }}" style="width: 49%; padding: 5px;" align="center"></a>
	{% endfor %}
	</center>
	</div>
</div>